.ad_label {
	 z-index: 100;
    position: absolute;
    margin-top: 10px;
    padding: 5px 15px;
    box-shadow: 0 2px 3px 0 rgba(50,50,50,0.4);
    
}
.ad_label.label_hourly {
 	background: #37b0ab;
 	color: #fff;
 }
 .ad_label.label_monthly {
 	background: #135a57;
 	color: #fff;
 }
.panel-card-section {
    padding: 10px;
}
.panel-body {
    position: relative;
    margin: 0;
    padding: 20px;
    border-top: 1px solid #dce0e0;
}
.target-control {
    position: absolute;
    height: 100%;
    cursor: pointer;
}
.target-prev {
    left: 0;
    width: 25%;
}
.listing-img .target-control {
    transition: none !important;
}
.listing-img .target-control {
    opacity: 0.8;
    transition: opacity .1s ease-in-out;
}
.listing-img {
    overflow: hidden;
    padding-bottom: 67%;
}
.panel-image {
    position: relative;
}
.listing.list_view {
    border: 1px solid #DADFDF;
}
.listing.list_view:hover {
    box-shadow: 0 2px 3px 0 rgba(50,50,50,0.4); border: 1px solid #BBB;
}
.listing-img .target-control{opacity:0.8;transition:opacity .1s ease-in-out}.listing-img:hover .target-control{opacity:.8}.listing-img:hover .target-control:hover{opacity:1.0}
.login_popup,.signup_popup,.signup_popup2,.forgot-passward{display:none;position:fixed;top:0;z-index:2000;left:0;right:0;overflow:hidden;background:rgba(0,0,0,0.8);padding:100px 0 230px 0;height:100%}.signup_popup2{padding:10px 0 50px 0 !important}.signup_popup2 .top-home .btn-large{padding:15px 27px !important;margin-top:10px !important}.login-close{position:absolute;padding:5px;right:4px !important;top:-30px}.pos-fix{position:fixed;left:0;right:0}.login_popup[aria-hidden="true"]{opacity:0}.login_popup[aria-hidden="false"]{opacity:1}.decorative-input{height:48px !important}.decorative-input[type="email"]{background-position:right -30px !important}.decorative-input[type="password"]{background-position:right -72px !important}.top-home .btn-large{padding:20px 27px !important}.icon-btn.btn-large .icon{top:16px !important}.bor-none{border:0 !important}@media(max-width:767px){.login_popup,.signup_popup,.signup_popup2,.forgot-passward{height:100% !important;overflow:auto !important}
