.main-filter-section .filter-inputwrapper.address {
    width: calc(100% - 502px);
}
.loading { z-index: -1; }
.timestart_container > .time-selection, .timeend_container > .time-selection  {
  max-height: 200px; 
  overflow: auto;
}
.time-option { 
  padding: 0px 15px;
  line-height: 3; 
  cursor: pointer;

}
.checked.time-option {
    background: #ff5a5f;
    color: #fff;
}
.selection_row { 
   display: block;
   background: #fff; 
 }
.selection_row .subheader_selction {
    padding: 5px 15px;
    color: #5c6062;
    z-index: 1;
    background: #fff;
    position: relative;
    border: 1px solid #ddd;
    line-height: 34px;
}
.display-none, .selection-dropdown {
  display: none;
}
.relative-div { position: relative; display: block; width: 100%; }
.search-result-wrapper {
    display: table-row;
    position: relative;
}
.search-results-wrapper-row { 
      display: block;
    width: 100%;
    height: 100%;
    min-height: 250px;
}
.search-results-wrapper-cell {
    display: table-cell;
    position: relative;
}
.results-wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    z-index: 1;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.search-results-table-cell { display: table-cell; position: relative; height: 100%; }
.leftfilters-wrapper-table {
    display: table;
    display: none;
    table-layout: fixed;
    height: 100%;
    width: 100%;
}
.leftfilters-wrapper-expanded {
    display: table;
}
.morefilter_wrapper { position: relative; width: 100%; display: block; }
.morefilter_container { position: absolute; top: 0px; width: 100%; z-index: 1; }
.leftsde-innerwrapper {     
  display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;  
}
.searchbar-row {
    display: table-row;
}
.searchbar {
    display: table-cell;
    background: #FFF;
    height: 64px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.dropdowntoggle { position: absolute; top: 0px; width: 246px; }
.main-filter-section { margin-top: 10px; }
.main-filter-section .filter-inputwrapper .location {
  line-height: 26px;
  border-radius: 0px;
}
.fa-caret-down.pull-right { margin-top: 13px; }
.main-filter-section .filter-inputwrapper.reservation-method .dropdown-toggle { border-radius: 0px; padding: 11px 21px; width: 100%;}
.filter-inputwrapper {
    padding: 0;
    float: left;
    display: block;
    z-index: 3;
    position: relative;
}
.filter-inputwrapper.address {
    width: calc(100% - 493px);
}
.open>.dropdown-menu {
    display: block;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
ul.dropdown-menu a {
    text-decoration: none !important;
}
.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
.time-block-display {
    width: 100%;
    line-height: 42px;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    padding: 0 20px 0 8px;
    background: #FFF;
    border: 1px solid #BBB;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
}
.filter-inputwrapper {
    padding: 0;
    float: left;
    display: block;
    z-index: 3;
    position: relative;
}
#more_filters {
    height: 44px;
    width: 120px;
    line-height: 42px;
    padding: 0;
    display: block;
    float: left;
    text-align: center;
    font: 500 15px/36px MuseoSans,Arial;
    min-width: 120px;
}
#header-search-form {
	height: 44px;
}
.list_view .description_wrapper {
      display: -webkit-box;
    height: 162px;
    font-size: 12px;
    line-height: 1.7;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    color: #898989;
    letter-spacing: 0.1px;
}
@media (max-width: 1600px){
  .list_view .description_wrapper {
    height: 84px;
    word-wrap: break-word;
    margin-bottom: 30px;
  }
}
@media (min-width: 1230px) {
  .time-block {
      width: 254px;
  }
  .filter-inputwrapper.reservation-method.reservation-method-Period { width: 110px; } 
}
@media (max-width: 1229px) {
  .main-filter-section .filter-inputwrapper.address {
    width: 100%;
    margin-bottom: 5px;
  }
}
@media (max-width: 1024px) {
  .filter-inputwrapper.address {
      width: 100%;
      margin-bottom: 10px;
  }
  .filter-inputwrapper.time-block {
      width: calc(100% - 120px);
  }
  .filter-inputwrapper.reservation-method {
      width: 120px;
  }
  .dropdowntoggle { width: 100%; }
  #inlinedate .ui-datepicker, #inlinedate .ui-datepicker-calendar { width: 100%; }
  .main-filter-section .filter-inputwrapper.reservation-method .dropdown-toggle { padding: 12px 21px; }
   #more_filters {
    width: 100%;
    margin: 10px auto;
  }

}
@media (min-width: 768px) {
 .sidebar {
      position: fixed;
      top: 47px;
      left: 0;
      bottom: 0;
      width: 60%;
       overflow-y: inherit; 
      -webkit-overflow-scrolling: touch;
      background: #f7f7f7;
  }
  .search-results-wrapper-row {
    overflow-y: auto;
    position: relative;
  } 
  .search-results { position: absolute; width: 100%; }
  #more_filters {
     margin-left: 10px;
  }
  
}
@media( max-width: 768px ){
 .main-filter-section .filter-inputwrapper.address { display: none; }
 .list_view > .row > .col-sm-6 { width: 100%; }
 .list_view .description_wrapper { display: none; }
 .list_view .other_info { visibility: hidden; }
}